.main-info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
}

.main-info-title {
    color: #9F9F9F;
    font-size: 21px;
}

.main-info-value {
    color: #FFFFFF;
    font-size: 42px;
}

.clock-wrapper {
    display: flex;
    justify-content: center;
    width:100%;
}

.clock {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50%;
    border: solid #1b2a45 10px;
    background-color: #1b2a3b;
    color: #F4D03F;
    text-align: center;
    /* margin: 5vh 5vw 0; */
}

.clock .task-name {
    font-size: 30px;
}

.clock .timer {
    font-size: 10vw;
    font-weight: 600;
}

.btn-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-group > svg {
    padding: 5px;
}

.add-task-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 5vh;
}

.add-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: 600;
    margin-right: 2vw;
    width: 150px;
    height: 46px;
    font-size: 24px;
    border-color: #f4d035;
    background-color: #f4d035;
}

.todo-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.todo-title {
    color: #f4d035;
    font-size: 30px;
}


.side-bar {
    display:flex;
    flex-direction:column;
    color:'#fff';
}

.side-bar p {
    margin-top: auto;
    font-size: 33px;
    color: rgba(255, 255, 255, 0.3);
    writing-mode: vertical-lr;
    font-weight: 600;
}